$foreground-color: rgb(30,30,30);
$background-color: #ffffff;

$alternate-foreground-color: rgb(0,102,67);
$alternate-background-color: rgb(188,190,192);

$emphasis-color: rgb(119,36,50);
$link-color: rgb(0,139,149);
